/* .seta {
    width: 2rem;
    height: 2rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5%;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 79%;
    padding: 1rem;
    background-color: rgb(60, 171, 230);
    position: relative;
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;

}

.icone {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.img1{
    width: 3.5rem;
    height: 3.5rem;
}

.h12 {
    margin-top: 2%;
    margin-bottom: 30%;
}

.h52 {
    font-size: smaller;
}




 */
