header{
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .2rem solid rgb(60, 171, 230);
    padding: .3rem;
}

h1{
    font-size: 2.2rem;
    position: absolute;
}

main{
    padding: 1rem;
}

.aulas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: .2rem solid;
    border-radius: 20px;;
}

.nao_assistidas{
    color: rgb(123, 123, 123);
    background-color: rgba(183, 180, 180, 0.283);
    border-color: rgb(123, 123, 123);
}
.assistidas{
    background-color: rgba(60, 171, 230, 0.299);
    border-color: rgba(60, 171, 230, 0.583);
}


.voltar {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    left: 1%;
}

.voltar img{
    width: 3rem;
} 

.rodape{
    background-color: rgb(60, 171, 230);
    width: 100%;
    position: fixed;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: .8rem;
}

footer img{
    margin: 5%;
    width: 3rem;
}