body{
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    min-width: 180px;
    position: fixed;
    width: 100%;
    background-color: white ;
    border-bottom: 0.3rem solid rgb(60, 171, 230);
    padding: 0;
    margin: 0; 
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
} 
.imagem_palestra{
    margin-top: 3rem;
    margin-bottom: 0;
}
h1{
    color: rgb(60, 171, 230) ;
}

main ul{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items:center;
    overflow-y: auto;
    margin-bottom: 0;
    padding-top: 1rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    max-height: 900px; 


}
main ul li{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
}
main ul:last-child{
    margin-bottom: 6rem;
}
footer{
    background-color: rgb(60, 171, 230);
    display: flex;
}
footer ul{
    background-color: rgb(60, 171, 230);
    position: fixed;
    bottom: 0;
    
}

.voltar {
    display: absolute;
    width: 2rem;
    height: 2rem;
}

.voltar img{
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 3rem;
}

.rodape{
    background-color: rgb(60, 171, 230);
    width: 100%;
    position: fixed;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}

.icone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    font-size: .8rem;
}

footer img{
    margin: 0;
    width: 3rem;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}