body, html{
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    height: 3rem;
    padding: 2%;
    width: 100%;
}

.menu {
    display: absolute;
    width: 2rem;
    height: 2rem;
}

.menu img{
    width: 3rem;
}

.parte_aovivo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2rem;
    font-style: oblique;
}

.video_aovivo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video{
    display: flex;
    width: 50%;
    padding: 0% 10% 0% 10%;
}

.mais{
    width: 2rem;
    padding-bottom: 4rem;
}

.seta{
    width: 2rem;
    padding: .5rem;
}

h2{
    font-style: italic;
    font-size: 2rem;
    padding: .2rem;
    border-bottom: .1rem solid rgb(60, 171, 230);
}

h3{
    font-style: italic;
    font-size: 1rem;
    padding: 1rem;
}

.nome_aula{
    font-size: 1rem;
    font-style: italic;
    margin-left: 1%;
    color: rgb(60, 171, 230);
}

.aula_clicavel{
    display: flex;
    align-items: center;
    margin-left: 1%;
    padding: 0rem .5rem 2rem .5rem;
}

footer{
    background-color: rgb(60, 171, 230);
}

.rodape{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

footer img{
    margin: 5%;
    width: 3rem;
}