img {
    width: 4rem;
}

.main img {
    width: 60rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h5 {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.header {
    margin-left: .5rem;
    margin-top: .5rem;
    display: relative;
}

.main {
    margin-top: 10%;
    margin-left: .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    width: 100%;
    margin-top: 75%;
    padding: 1.3rem;
    background-color: rgb(60, 171, 230);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icone {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}