.header {
    height: 3rem;
    margin-left: .5rem;
    position: relative;
    display: flex;
    flex-direction: row;
}

img {
    width: 3rem;
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.nav {
    margin-top: 2rem;
    height: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.links {
    width: 50rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    margin-left: .5rem;
    margin-top: 7.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: x-large
}

h5 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large
}

.links img {
    margin-right: .5rem;
    margin-left: .5rem;
}