/* CONTEÚDOS GERAIS */

footer{
    background-color: rgb(60, 171, 230);
    display: flex;
}
footer ul{
    background-color: rgb(60, 171, 230);
    position: fixed;
    bottom: 0;
    
}

.rodape{
    background-color: rgb(60, 171, 230);
    width: 100%;
    position: fixed;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}

.icone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    font-size: .8rem;
}

 footer img{
    margin: 0;
    width: 3rem;
} 

h2 {
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
}






/* INDEX */

.h1_index {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
}

.h2_index {
    font-style: italic;
    font-size: 2rem;
    padding: .2rem;
    border-bottom: .1rem solid rgb(60, 171, 230);
}

.h3_index {
    font-style: italic;
    font-size: 1rem;
    padding: 1rem;
}

.index_header {
    height: 3rem;
    padding: .2rem 0 0 .2rem;
    width: 100%;
}

.menu {
    display: absolute;
    width: 2rem;
    height: 2rem;
}

.menu img {
    width: 3rem;
}

.parte_aovivo {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_aovivo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    width: 60%;
    height: 50%;
    padding: 0% 5% 0% 5%;
}

.mais {
    width: 2rem;
    padding-bottom: 4rem;
}

.seta_index {
    width: 2rem;
    padding: .5rem;
}


.nome_aula {
    font-size: 1rem;
    font-style: italic;
    margin-left: 1%;
    color: #2FA6FF;
}

.aula_clicavel {
    display: flex;
    align-items: center;
    margin-left: 1%;
    padding: 0rem .5rem 2rem .5rem;
}

/* AULA4_CURSO */






/* AULAS_CURSO */
.header_curso {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .2rem solid #2FA6FF;
    padding: .3rem;
}

.header_curso h1 {
    font-size: 2.2rem;
    position: absolute;
}

.aulas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: .2rem solid;
    border-radius: 20px;
    ;
}

.nao_assistidas {
    color: #7E92A3;
    border-color: #7E92A3;
}

.assistidas {
    background-color: #ADDCFF;
    border-color: #8ACCFF;
}


.voltar {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    left: 1%;
}

.voltar img {
    width: 3rem;
}



/* PALESTRA_INFLUENCIAIAS */

.influenciaIAS_header {
    margin-left: .5rem;
    margin-top: .5rem;
    display: relative;
}

.influenciaIAS_main {
    margin-top: 10%;
    margin-left: .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 3rem;
}

.influenciaIAS_main img {
    width: 20rem;
}


.influenciaIAS_main h2 {
    margin: .5rem;
    font-weight: bold;
}

/* SANDUICHE  */

.foto_perfil {
    width: 3rem;
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil img {
    padding-bottom: .5rem;
}

.nav_sanduiche {
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.links {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .8rem;

}


.usuario {
    font-weight: bold;
    font-size: x-large;
}

.log_out {
    font-size: large;
}

.links img {
    margin-right: .5rem;
    margin-left: .5rem;
    width: 3rem;
}

.footer_sanduiche {
    position: fixed;
    width: 100%;
    padding: .3rem;
    background-color: rgb(60, 171, 230);
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
}



/* PALESTRAS_GRAVADAS/DOWNLOADS */


.header_palestras_gravadas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-bottom: 0.3rem solid rgb(60, 171, 230); 
    padding-bottom: 3%;
    margin: 0% 2% 0% 2%; 
} 


.main_palestras_gravadas{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}



.h1_palestras_gravadas {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(60, 171, 230);
}

.h2_palestras_gravadas {
    font-size: 1rem;
    margin-top: 2%;
    margin-left: 2%;
    text-decoration: underline;
}

.img_palestras_gravadas{
    display: flex;
    position: relative;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-right: .2rem solid rgb(60, 171, 230);
    padding: 5%;
}


.seta_palestras_gravadas{
    width: 2.5rem;
    height: 2.5rem;
}

.linha {
    display: flex;
    flex-direction: row-reverse;
    border: .2rem solid rgb(60, 171, 230);
    margin: 5% 1.5rem 20% 1.5rem;
}





/* DOWNLOAD_ANALISE_DE_DADOS */
.seta_analise_de_dados {
    width: 2rem;
    height: 2rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10%;
}


.main_analise_de_dados {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.label {
    font-size: 1.2rem;
    font-weight: bold;

}


.h1_analise_de_dados {
    display: flex;
    position: relative;
    margin-top: 2%;
    margin-bottom: 30%;
}

.h5_analise_de_dados {
    font-size: smaller;
}






