.coluna {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

img {
    width: 10%;
}

.header {
    width: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}